.container {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: auto;
  width: 100%;
  max-width: 800;
  overflow: hidden;
}

.preview {
  display: block;
  width: 100%;
  margin: auto;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f0e0ff;
}

.container:hover {
  border: 0;
}

.container:hover .overlay {
  opacity: 1;
  overflow: hidden;
}

.container:hover .preview {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.text {
  position: absolute;
  text-align: center;
  padding: .5rem;
  height: 60%;
  width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.text h2 {
  font-weight: bolder;
  font-family: sans-serif;
}

.git {
 height: 1.5rem;
}

.clickable a {
  /* text-decoration: none; */
}

.clickable h2 {
  margin-bottom: .5rem
}

@media only screen and (max-width: 600px) {
  .clickable { line-height: 100% }
}

@media (hover: hover) {
  .clickable { display: none }
 }
