.header a {
  color: black;
  text-decoration: none;
  font-family: "Source Code Pro";
}

.header a:hover {
  text-decoration: underline;
}

.footer {
  background: #ef32d9;
}

.footer a {
  color: white;
  text-decoration: none;
  font-family: "Source Code Pro";
}

.footer a:hover {
  text-decoration: underline;
}

.body {
  color: black;
  font-family: "Source Code Pro";
}

.body h1 {
  color: black;
  font-family: "Source Code Pro";
}

.body h2 {
  color: black;
  font-weight: bold;
}

.logo {
  font-size: 2rem;
}

@media only screen and (min-width: 800px) {
  li { font-size: 1.2rem; }
}

@media only screen and (max-width: 530px) {
  h1 { font-size: 1.2rem; },
  .logo { font-size: .9rem; },
  h2 { font-size: .9rem; },
  a { font-size: 0.7rem; },
  p { font-size: 0.7em; }
}

@media only screen and (max-width: 360px) {
  h2 { font-size: 0.8rem; },
  .logo { font-size: 0.8rem; },
  a { font-size: 0.7rem; },
  p { font-size: 0.7rem; }
}

@media only screen and (max-width: 320px) {
  h2 { font-size: 0.75rem; },
  .logo { font-size: 0.7rem; },
  a { font-size: 0.6rem; },
  p { font-size: 0.6rem; }
}
